<div class="container-fluid cnr position-absolute vh-100">
    <div class="row">
        <!-- Categories select -->
        <div class="col-3 d-flex flex-column align-items-center min-vh-100 py-5 n-ctg">
            <p>Categories</p>
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed n-acrdn-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" /> </svg>
                </button>
            </h2>
            <div class="accordion">
                <div id="panelsStayOpen-collapseOne" class="accordion-item n-acrdn" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-collapse">
                        <div class="accordion-body d-flex flex-column n-acrdn-body">
                            @foreach (var category in ViewBag.Categories)
                            {
                                <a class="ctg-anch" asp-controller="Home" asp-action="Search" asp-route-searchString="@category.Name">@category.Name</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Products list -->
        <div class="container d-flex flex-column gap-3 p-2 min-vh-100 col-9 n-prds">
            <!-- Pagination -->
            <div class="d-flex flex-row pl-pagination justify-content-center">
                @if (Model.PageViewModel.HasPreviousPage && ViewBag.IsSearched == true)
                {
                    <a asp-action="Search"
                       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                       asp-route-searchString="@ViewBag.SearchString"
                       class="btn btn-outline-dark pgnation">
                        <b>
                            &lt;
                            Previous page
                        </b>
                    </a>
                }
                @if (Model.PageViewModel.HasNextPage && ViewBag.IsSearched == true)
                {
                    <a asp-action="Search"
                       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                       asp-route-searchString="@ViewBag.SearchString"
                       class="btn btn-outline-dark pgnation">
                        <b>
                            Next page
                            &gt;
                        </b>
                    </a>
                }
            </div>

            <!-- Products -->
            @{
                var email = User.Identity.Name;
                var productList = (List<Product>)Model.Values;
                var productCount = productList.Count;
            }
            <div class="d-flex flex-column gap-3 justify-content-center pl-cr">
                @for (var counter = 0; counter < 3 && counter < productCount; counter++)
                {
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center rounded-4 pl-col">
                        @if (productList[counter].Image != null)
                        {
                            <img class="img-fluid mb-1 pl-img"
                                 src=@(productList[counter].Image.Url)
                                 alt="responsive image" />
                        }
                        else
                        {
                            <img class="img-fluid mb-1 pl-img"
                                 src="~/img/NotFoundImg.png"
                                 alt="responsive image" />
                        }
                        <div class="d-flex flex-row align-items-center gap-1 pl-col-prc">
                            <p class="pl-col-ttl">@(productList[counter].Name)</p>
                            <p class="text-success">@(String.Format("{0:0.00}", productList[counter].Price))$</p>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            @* If product is in User shopping cart then display "UnShoppingCart" button *@
                            @if (productList[counter].ShoppingCarts.FirstOrDefault(w => w.User.Email == email) != null)
                            {
                                <form method="post" asp-action="RemoveFromCart"
                                      asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/UnShoppingCartProductCol.png"
                                             width="35"
                                             height="32" />
                                    </a>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToCart" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/ShoppingCartProductCol.png"
                                             width="35"
                                             height="32" />
                                    </a>
                                </form>
                            }

                            @* If product is in User wish list then display "UnWishList" button *@
                            @if (productList[counter].WishLists.FirstOrDefault(w => w.User.Email == email) != null)
                            {
                                <form method="post" asp-action="RemoveFromWishList" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/UnWishListProductCol.png" width="35" height="32" />
                                    </a>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToWishList" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/WishListProductCol.png" width="35" height="32" />
                                    </a>
                                </form>
                            }
                            <a class="nb-anch" asp-action="Description" asp-controller="Home" asp-route-productId="@productList[counter].Id">
                                <img src="~/img/Details.png" width="35" height="35" />
                            </a>
                        </div>
                    </div>
                }
            </div>

            <div class="d-flex flex-column gap-3 justify-content-center pl-cr">
                @for (var counter = 3; counter < 6 && counter < productCount; counter++)
                {
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center rounded-4 pl-col">
                        @if (productList[counter].Image != null)
                        {
                            <img class="img-fluid mb-1 pl-img"
                                 src=@(productList[counter].Image.Url)
                                 alt="responsive image" />
                        }
                        else
                        {
                            <img class="img-fluid mb-1 pl-img"
                                 src="~/img/NotFoundImg.png"
                                 alt="responsive image" />
                        }
                        <div class="d-flex flex-row align-items-center gap-1 pl-col-prc">
                            <p class="pl-col-ttl">@(productList[counter].Name)</p>
                            <p class="text-success">@(String.Format("{0:0.00}", productList[counter].Price))$</p>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            @* If product is in User shopping cart then display "UnShoppingCart" button *@
                            @if (productList[counter].ShoppingCarts.FirstOrDefault(w => w.User.Email == email) != null)
                            {
                                <form method="post" asp-action="RemoveFromCart" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/UnShoppingCartProductCol.png"
                                             width="35"
                                             height="32" />
                                    </a>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToCart" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/ShoppingCartProductCol.png"
                                             width="35"
                                             height="32" />
                                    </a>
                                </form>
                            }

                            @* If product is in User wish list then display "UnWishList" button *@
                            @if (productList[counter].WishLists.FirstOrDefault(w => w.User.Email == email) != null)
                            {
                                <form method="post" asp-action="RemoveFromWishList" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/UnWishListProductCol.png" width="35" height="32" />
                                    </a>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToWishList" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/WishListProductCol.png" width="35" height="32" />
                                    </a>
                                </form>
                            }
                            <a class="nb-anch" asp-action="Description" asp-controller="Home" asp-route-productId="@productList[counter].Id">
                                <img src="~/img/Details.png" width="35" height="35" />
                            </a>
                        </div>
                    </div>
                }
            </div>

            <div class="d-flex flex-column gap-3 justify-content-center pl-cr">
                @for (var counter = 6; counter < 9 && counter < productCount; counter++)
                {
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center rounded-4 pl-col">
                        @if (productList[counter].Image != null)
                        {
                            <img class="img-fluid mb-1 pl-img"
                                 src=@(productList[counter].Image.Url)
                                 alt="responsive image" />
                        }
                        else
                        {
                            <img class="img-fluid mb-1 pl-img"
                                 src="~/img/NotFoundImg.png"
                                 alt="responsive image" />
                        }
                        <div class="d-flex flex-row align-items-center gap-1 pl-col-prc">
                            <p class="pl-col-ttl">@(productList[counter].Name)</p>
                            <p class="text-success">@(String.Format("{0:0.00}", productList[counter].Price))$</p>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            @* If product is in User shopping cart then display "UnShoppingCart" button *@
                            @if (productList[counter].ShoppingCarts.FirstOrDefault(w => w.User.Email == email) != null)
                            {
                                <form method="post" asp-action="RemoveFromCart" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/UnShoppingCartProductCol.png"
                                             width="35"
                                             height="32" />
                                    </a>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToCart" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/ShoppingCartProductCol.png"
                                             width="35"
                                             height="32" />
                                    </a>
                                </form>
                            }

                            @* If product is in User wish list then display "UnWishList" button *@
                            @if (productList[counter].WishLists.FirstOrDefault(w => w.User.Email == email) != null)
                            {
                                <form method="post" asp-action="RemoveFromWishList" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/UnWishListProductCol.png" width="35" height="32" />
                                    </a>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToWishList" asp-route-productId="@productList[counter].Id"
                                      asp-route-callBackPath="@Context.Request.Path@Context.Request.QueryString">
                                    <a class="nb-anch" onclick="this.parentElement.submit()">
                                        <img src="~/img/WishListProductCol.png" width="35" height="32" />
                                    </a>
                                </form>
                            }
                            <a class="nb-anch" asp-action="Description" asp-controller="Home" asp-route-productId="@productList[counter].Id">
                                <img src="~/img/Details.png" width="35" height="35" />
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>